<%= form_for(@vk_estado) do |f| %>
  <% if @vk_estado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vk_estado.errors.count, "error") %> prohibited this vk_estado from being saved:</h2>

      <ul>
      <% @vk_estado.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_estado %><br>
    <%= f.text_field :nome_estado %>
  </div>
  <div class="field">
    <%= f.label :sigl_estado %><br>
    <%= f.text_field :sigl_estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
