<p id="notice"><%= notice %></p>

<p>
  <strong>Nome estado:</strong>
  <%= @vk_estado.nome_estado %>
</p>

<p>
  <strong>Sigl estado:</strong>
  <%= @vk_estado.sigl_estado %>
</p>

<%= link_to 'Edit', edit_vk_estado_path(@vk_estado) %> |
<%= link_to 'Back', vk_estados_path %>
