
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading"><h3 class="panel-title">Listar Vitrines</h3></div>

<table class="table table-hover">  <thead>
    <tr>
      <th>Nome vitrine</th>
      <th>Descrição</th>
      <th>Cidade</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vk_vitrines.each do |vk_vitrine| %>
      <tr>
        <td><%= vk_vitrine.nome_vitrine %></td>
        <td><%= vk_vitrine.desc_vitrine %></td>
        <td><%= vk_vitrine.vk_cidade.nome_cidade %></td>

          <td align='right'>
            <div class="btn-group">
              <%= link_to vk_vitrine, :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir
              <% end %>             
              <%= link_to edit_vk_vitrine_path(vk_vitrine), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>             
              <%= link_to vk_vitrine , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
             <% end %>            
            </div>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>


<%= link_to new_vk_vitrine_path, :class => "btn btn-default btn-sm" do %>
 <span class="glyphicon glyphicon-file"></span>Novo
<% end %>
