<p id="notice"><%= notice %></p>

<p>
  <strong>Vk vitrine:</strong>
  <%= @vk_empresavitrine.vk_vitrine %>
</p>

<p>
  <strong>Vk empresa:</strong>
  <%= @vk_empresavitrine.vk_empresa %>
</p>

<%= link_to 'Edit', edit_vk_empresavitrine_path(@vk_empresavitrine) %> |
<%= link_to 'Back', vk_empresavitrines_path %>
