<%= form_for(@vk_empresa) do |f| %>
  <% if @vk_empresa.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <% if @vk_empresa.errors.any? %>
      <% @vk_empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
       <% end %>
      <% end %>
    </div>
  <% end %>

<div class="row mar-bot40">
    <div class="col-lg-8" >
      <%= f.label :nome_empresa %><br>
      <%= f.text_field :nome_empresa, :class => 'form-control' %>
    </div>
    <div class="col-lg-4" >
      <%= f.label :CNPJ %><br>
      <%= f.text_field :cnpj_empresa, :class => 'form-control' %>
    </div>
</div>
<br>
<div class="row mar-bot40">
  <div class="col-lg-4">
    <%= f.label :nome_responsavel %><br>
    <%= f.text_field :nome_responsavel, :class => 'form-control' %>
  </div>
  <div class="col-lg-4">
    <%= f.label :Telefone %><br>
    <%= f.text_field :desc_telefone, :class => 'form-control' %>
  </div>
</div>
<br>
<div class="row mar-bot40">
  <div class="col-lg-12 ">
    <%= f.label :resu_atividade %><br>
    <%= f.text_field :resu_atividade, :class => 'form-control' %>
  </div>
</div>

<div class="row mar-bot40">
  <div class="col-lg-1">
  </div>
<div class="col-lg-2">
  <h4>Endereço</h4>
 </div>
 </div>
 <br>

<%=  f.fields_for :vk_endereco do |endereco| %>
<div class="row mar-bot40">  
    <div class="col-lg-4">
      <%= endereco.label :nome_bairro %><br>
      <%= endereco.text_field :nome_bairro, :class => 'form-control' %>
    </div>
    <div class="col-lg-4">
      <%= endereco.label :nome_rua %><br>
      <%= endereco.text_field :nome_rua, :class => 'form-control' %>
    </div>
    <div class="col-lg-2">
      <%= endereco.label :Quadra %><br>
      <%= endereco.text_field :desc_quadra, :class => 'form-control' %>
    </div>
</div>
 <br>
 <div class="row mar-bot40">
  <div class="col-lg-5">
    <%= endereco.label :Complemento %><br>
    <%= endereco.text_field :desc_complemento, :class => 'form-control' %>
  </div>
  <div class="col-lg-2">
    <%= endereco.label :CEP %><br>
    <%= endereco.text_field :desc_cep, :class => 'form-control' %>
  </div>
</div>
<br>
<div class="row mar-bot40">
  <%=  f.fields_for :vk_estado do |estado| %>
      <div class="col-lg-4">
        <%= estado.label :Estado %><br>
        <%= estado.select :vk_estado_id, options_from_collection_for_select(VkEstado.all, 'id', 'nome_estado',@vk_estado), {:include_blank => true}, {:onchange => 'changeState(this)', :class => 'form-control' }%>
      </div>
  <%end%>
  <%if @vk_cidade %>
        <div class="col-lg-4">
          <%= endereco.label :Cidade %>
          <%= endereco.select :vk_cidade_id, options_from_collection_for_select(@vk_cidade, 'id', 'nome_cidade',@vk_cidade_setada),{}, :class => 'form-control'%>
        </div>
  <%else%>

  <div class="col-lg-4">
          <%= endereco.label :Cidade %><br>
          <%= endereco.select :vk_cidade_id, [], {}, :class => 'form-control'%>
  </div>

 <%end%>
</div>

<%end%>

</div>
</div>


<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>  

<% end %>



<script>




jQuery(function($){

  $("#fd_cliente_data_nascimento").mask("99/99/9999");
  $("#fd_cliente_desc_cpf").mask("999.999.999.99");
  $("#fd_cliente_desc_celular").mask("(99)9999-9999");
  $("#fd_cliente_desc_telefone").mask("(99)9999-9999");
  $("#fd_cliente_fd_endereco_attributes_numr_cep").mask("99.999-999");


});
 
    function changeState(state){
        $.ajax({
          url: '<%= listarCidade_path %>',
          data : {id : state.value},
          success: function(data){
            $('#fd_cliente_fd_endereco_attributes_fd_cidade_id').empty();
            $('#fd_cliente_fd_endereco_attributes_fd_cidade_id').html('<option>Carregando...</option>');
            $('#fd_cliente_fd_endereco_attributes_fd_cidade_id').attr('disabled', 'disabled');
            var options = "";
            for (var i in data) {
              var item = data[i];
              options += "<option value='"+item.id+"'>"+item.name+"</option>"
            };
   
            $('#fd_cliente_fd_endereco_attributes_fd_cidade_id').html(options);
            $('#fd_cliente_fd_endereco_attributes_fd_cidade_id').removeAttr('disabled');          
          }
        })
      }
  </script>