<%= form_for(@vk_empresa) do |f| %>
  <% if @vk_empresa.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <% if @vk_empresa.errors.any? %>
      <% @vk_empresa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
       <% end %>
      <% end %>
    </div>
  <% end %>

<div class="tabbable-panel">
  <div class="tabbable-line">
    <ul class="nav nav-tabs nav-justified">
      <li class="active">
        <a href="#tab_default_1" data-toggle="tab">
        <b>Empresa</b></a>
      </li>
      <%if @vk_empresa.id%>
       <li>
         <a href="#tab_default_2" data-toggle="tab">
         <b>Endereço</b></a>
       </li>
      <%else%>
        <li class="disabled">
          <a href="#tab_default_2"  data-placement="top" title="É necessário cadastrar primeiro a empresa" data-toggle="tab disabled tooltip">
          <b>Endereço</b> </a>
        </li>
      <%end%>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab_default_1">
        <br>
        <div class="row mar-bot40">
            <div class="col-lg-8" >
              <%= f.label :nome_empresa %><br>
              <%= f.text_field :nome_empresa, :class => 'form-control' %>
            </div>
            <div class="col-lg-4" >
              <%= f.label :CNPJ %><br>
              <%= f.text_field :cnpj_empresa, :class => 'form-control' %>
            </div>
        </div>
        <br>
        <div class="row mar-bot40">
          <div class="col-lg-4">
            <%= f.label :nome_responsavel %><br>
            <%= f.text_field :nome_responsavel, :class => 'form-control' %>
          </div>
          <div class="col-lg-4">
            <%= f.label :Telefone %><br>
            <%= f.text_field :desc_telefone, :class => 'form-control' %>
          </div>
        </div>
        <br>
        <div class="row mar-bot40">
          <div class="col-lg-12 ">
            <%= f.label :resu_atividade %><br>
            <%= f.text_field :resu_atividade, :class => 'form-control' %>
          </div>
        </div>
       </div>
      <div class="tab-pane" id="tab_default_2">
        <br>
          <button class="btn btn-success" type="button" onclick="$('#myModal1').modal('show');">Novo Endereco
             <span  class="glyphicon glyphicon-plus-sign"></span>
          </button>
          <hr>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Rua</th>
                <th>Quadra</th>
                <th>Lote</th>
                <th>Bairro</th>
                <th>Cep</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="tlbendereco">
              <% if @vk_empresa.id%>
              <% @vk_enderecoEmpresa.each do |empresa| %>
                <tr>
                  <td><%= empresa.vk_endereco.nome_rua %></td>
                  <td><%= empresa.vk_endereco.desc_quadra %></td>
                  <td><%= empresa.vk_endereco.desc_lote %></td>
                  <td><%= empresa.vk_endereco.nome_bairro %></td>
                   <td><%= empresa.vk_endereco.desc_cep %></td>
                  <td><%= empresa.vk_endereco.vk_cidade.nome_cidade %></td>
                  <td><%= empresa.vk_endereco.vk_cidade.vk_estado.sigl_estado %></td>
                  <td align='right'>

                  <button class="btn btn-default btn-sm" type="button" onclick="AcaoExcluir('<%=empresa.id%>');">
                      <span  class="glyphicon glyphicon-trash"></span>
                 </button>
                </td>
                </tr>
               <% end %>
              <% end %>
            </tbody>
          </table>
     </div>
  </div>
</div>
</div>

</div>
</div>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
       <h4 class="modal-title" id="myModalLabel">Cadastrar Endereço</h4>
     </div>
     <div class="modal-body">

         <%=  f.fields_for :vk_endereco do |endereco| %>
          <div class="row mar-bot40">
           <div class="col-lg-12">
               <%= endereco.label :nome_rua %><br>
               <%= endereco.text_field :nome_rua, :class => 'form-control' %>
             </div>
          </div>
         <div class="row mar-bot40">
             <div class="col-lg-12">
               <%= endereco.label :nome_bairro %><br>
               <%= endereco.text_field :nome_bairro, :class => 'form-control' %>
              </div>
          </div>
          <div class="row mar-bot40">
             <div class="col-lg-4">
               <%= endereco.label :Quadra %><br>
               <%= endereco.text_field :desc_quadra, :class => 'form-control' %>
             </div>
             <div class="col-lg-4">
               <%= endereco.label :Lote %><br>
               <%= endereco.text_field :desc_lote, :class => 'form-control' %>
             </div>
           </div>
          <br>
        <div class="row mar-bot40">
           <div class="col-lg-9">
             <%= endereco.label :Complemento %><br>
             <%= endereco.text_field :desc_complemento, :class => 'form-control' %>
           </div>
           <div class="col-lg-3">
             <%= endereco.label :CEP %><br>
             <%= endereco.text_field :desc_cep, :class => 'form-control' %>
           </div>
         </div>
       <br>
       <div class="row mar-bot40">
         <%=  f.fields_for :vk_estado do |estado| %>
             <div class="col-lg-6">
               <%= estado.label :Estado %><br>
               <%= estado.select :vk_estado_id, options_from_collection_for_select(VkEstado.all, 'id', 'nome_estado',@vk_estado), {:include_blank => true}, {:onchange => 'changeState(this)', :class => 'form-control' }%>
             </div>
         <%end%>
         <%if @vk_cidade %>
               <div class="col-lg-6">
                 <%= endereco.label :Cidade %>
                 <%= endereco.select :vk_cidade_id, options_from_collection_for_select(@vk_cidade, 'id', 'nome_cidade',@vk_cidade_setada),{}, :class => 'form-control'%>
               </div>
         <%else%>
         <div class="col-lg-6">
                 <%= endereco.label :Cidade %><br>
                 <%= endereco.select :vk_cidade_id, [], {}, :class => 'form-control'%>
         </div>
           <%end%>
          </div>

         <%end%>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" onclick="salvaEndereco(1)">Salvar</button>
     </div>
   </div>
 </div>
</div>

<hr/>

<div class="btn-group" role="group" aria-label="...">
  <button type="submit" class="btn btn-primary btn-sm">
    <span class="glyphicon glyphicon-floppy-disk"></span> Salvar
  </button>
</div>
<% end %>


<script>



function AcaoExcluir(id) {
    var txt;
    var r = confirm("Deseja excluir o registro?");
    if (r == true) {
        excluiEndereco(id);
    } else {
        return false;
    }
}



function replicarEndereco(){
  var $clone = $('.endereco').clone();
  $('.wrapper').append($clone);
}

jQuery(function($){

  $("#fd_cliente_data_nascimento").mask("99/99/9999");
  $("#fd_cliente_desc_cpf").mask("999.999.999.99");
  $("#fd_cliente_desc_celular").mask("(99)9999-9999");
  $("#fd_cliente_desc_telefone").mask("(99)9999-9999");
  $("#fd_cliente_fd_endereco_attributes_numr_cep").mask("99.999-999");


});

  function changeState(state){
        $.ajax({
          url: '<%= listarCidade_path %>',
          data : {id : state.value},
          success: function(data){
            $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').empty();
            $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').html('<option>Carregando...</option>');
            $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').attr('disabled', 'disabled');
            var options = "";
            for (var i in data) {
              var item = data[i];
              options += "<option value='"+item.id+"'>"+item.name+"</option>"
            };

            $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').html(options);
            $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').removeAttr('disabled');
          }
        })
      }

function salvaEndereco(){

      $.ajax({
        url: '<%= salvaEndereco_path %>',
        data : {
          nome_bairro : $('#vk_empresa_vk_endereco_attributes_nome_bairro').val(),
          nome_rua:   $('#vk_empresa_vk_endereco_attributes_nome_rua').val(),
          quadra: $('#vk_empresa_vk_endereco_attributes_desc_quadra').val(),
          lote: $('#vk_empresa_vk_endereco_attributes_desc_lote').val(),
          complemento: $('#vk_empresa_vk_endereco_attributes_desc_complemento').val(),
          cep: $('#vk_empresa_vk_endereco_attributes_desc_cep').val(),
          cidade: $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').val(),
          empresa: '<%=@vk_empresa.id%>'
        },
        success: function(data){
          $('#tlbendereco').empty();
          for (var i in data) {
            var item = data[i];
             $('#tlbendereco').append('<tr><td>'+item.nome_rua+'</td><td>'+item.desc_quadra+'</td><td>'+item.desc_lote+'</td><td>'+item.nome_bairro+'</td><td>'+item.desc_cep+'</td><td>'+item.nome_cidade+'</td><td>'+item.sigl_estado+'</td><td align="right"><button class="btn btn-default btn-sm" type="button" onclick="AcaoExcluir('+item.id+');"><span  class="glyphicon glyphicon-trash"></span></button><td/>')
          };

          $('#vk_empresa_vk_endereco_attributes_nome_bairro').empty();
          $('#vk_empresa_vk_endereco_attributes_nome_rua').empty();
          $('#vk_empresa_vk_endereco_attributes_desc_quadra').empty();
          $('#vk_empresa_vk_endereco_attributes_desc_lote').empty();
          $('#vk_empresa_vk_endereco_attributes_desc_complemento').empty();
          $('#vk_empresa_vk_endereco_attributes_desc_cep').empty();
          $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').empty();

        }
      })
    }

    function excluiEndereco(id_endereco){

          $.ajax({
            url: '<%= excluiEndereco_path %>',
            data : {
              id_endereco : id_endereco,
              empresa: '<%=@vk_empresa.id%>'
            },
            success: function(data){
              $('#tlbendereco').empty();
              for (var i in data) {
                var item = data[i];
                 $('#tlbendereco').append('<tr><td>'+item.nome_rua+'</td><td>'+item.desc_quadra+'</td><td>'+item.desc_lote+'</td><td>'+item.nome_bairro+'</td><td>'+item.nome_bairro+'</td><td>'+item.desc_cep+'</td><td>'+item.nome_cidade+'</td><td>'+item.sigl_estado+'</td><td align="right"><button class="btn btn-default btn-sm" type="button" onclick="AcaoExcluir('+item.id+');"><span  class="glyphicon glyphicon-trash"></span></button><td/>')
              };


              $('#vk_empresa_vk_endereco_attributes_nome_bairro').empty();
              $('#vk_empresa_vk_endereco_attributes_nome_rua').empty();
              $('#vk_empresa_vk_endereco_attributes_desc_quadra').empty();
              $('#vk_empresa_vk_endereco_attributes_desc_lote').empty();
              $('#vk_empresa_vk_endereco_attributes_desc_complemento').empty();
              $('#vk_empresa_vk_endereco_attributes_desc_cep').empty();
              $('#vk_empresa_vk_endereco_attributes_vk_cidade_id').empty();

            }
          })
        }



     $(function () {
       $('[data-toggle="tab disabled tooltip"]').tooltip()
     })


  </script>
