<%= form_for(@vk_enderecoanuncio) do |f| %>
  <% if @vk_enderecoanuncio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vk_enderecoanuncio.errors.count, "error") %> prohibited this vk_enderecoanuncio from being saved:</h2>

      <ul>
      <% @vk_enderecoanuncio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vk_anuncio_id %><br>
    <%= f.text_field :vk_anuncio_id %>
  </div>
  <div class="field">
    <%= f.label :vk_endereco_id %><br>
    <%= f.text_field :vk_endereco_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
