<p id="notice"><%= notice %></p>

<p>
  <strong>Vk anuncio:</strong>
  <%= @vk_enderecoanuncio.vk_anuncio %>
</p>

<p>
  <strong>Vk endereco:</strong>
  <%= @vk_enderecoanuncio.vk_endereco %>
</p>

<%= link_to 'Edit', edit_vk_enderecoanuncio_path(@vk_enderecoanuncio) %> |
<%= link_to 'Back', vk_enderecoanuncios_path %>
