<h1>Listing vk_categoriaprodutos</h1>

<table>
  <thead>
    <tr>
      <th>Nome categoria</th>
      <th>Desc categoria</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vk_categoriaprodutos.each do |vk_categoriaproduto| %>
      <tr>
        <td><%= vk_categoriaproduto.nome_categoria %></td>
        <td><%= vk_categoriaproduto.desc_categoria %></td>
        <td><%= link_to 'Show', vk_categoriaproduto %></td>
        <td><%= link_to 'Edit', edit_vk_categoriaproduto_path(vk_categoriaproduto) %></td>
        <td><%= link_to 'Destroy', vk_categoriaproduto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vk categoriaproduto', new_vk_categoriaproduto_path %>
