<%= form_for(@vk_cidade) do |f| %>
  <% if @vk_cidade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vk_cidade.errors.count, "error") %> prohibited this vk_cidade from being saved:</h2>

      <ul>
      <% @vk_cidade.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome_cidade %><br>
    <%= f.text_field :nome_cidade %>
  </div>
  <div class="field">
    <%= f.label :vk_estado_id %><br>
    <%= f.text_field :vk_estado_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
