<%= form_for(@vk_anunciofavorito) do |f| %>
  <% if @vk_anunciofavorito.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vk_anunciofavorito.errors.count, "error") %> prohibited this vk_anunciofavorito from being saved:</h2>

      <ul>
      <% @vk_anunciofavorito.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :vk_anuncio_id %><br>
    <%= f.text_field :vk_anuncio_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
