<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading"><h3 class="panel-title">Listar Produtos</h3></div>

<table class="table table-hover">  <thead>
    <tr>
      <th>Nome produto</th>
      <th>Atacado</th>
      <th>Varejo</th>
      <th>Novo</th>
      <th>Anunciado</th>
      <th>Valor</th>
      <th>Categoria</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vk_produtos.each do |vk_produto| %>
      <tr>
        <td><%= vk_produto.nome_produto %></td>
        <td><%= vk_produto.flag_atacado %></td>
        <td><%= vk_produto.flag_varejo %></td>
        <td><%= vk_produto.flag_novo %></td>
        <td><%= vk_produto.flag_anunciado %></td>
        <td><%= vk_produto.valr_produto %></td>
        <td><%= vk_produto.vk_categoriaproduto.nome_categoria %></td>
        <td align='right'>
            <div class="btn-group">
              <%= link_to vk_produto, :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir
              <% end %>             
              <%= link_to edit_vk_produto_path(vk_produto), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>             
              <%= link_to vk_produto , :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              <% end %>            
            </div>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

  <%= link_to new_vk_produto_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-file"></span>Novo
  <% end %>
