<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading"><h3 class="panel-title">Listar Anuncios</h3></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Anuncio</th>
      <th>Val. Produto</th>
      <th>Val Com Desconto</th>
      <th>Data Inicio</th>
      <th>Data Fim</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vk_anuncios.each do |vk_anuncio| %>
      <tr>
        <td><%= vk_anuncio.desc_titulo %></td>
        <td><%= vk_anuncio.desc_anuncio %></td>
        <td><%= vk_anuncio.valr_produto %></td>
        <td><%= vk_anuncio.valr_comdesconto %></td>
        <td><%= vk_anuncio.data_inicio %></td>
        <td><%= vk_anuncio.data_fim %></td>
        <td><%= vk_anuncio.numr_qtddisponivel %></td>

        <td><%= link_to 'Show', vk_anuncio %></td>
        <td><%= link_to 'Edit', edit_vk_anuncio_path(vk_anuncio) %></td>
        <td><%= link_to 'Destroy', vk_anuncio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

  <%= link_to new_vk_anuncio_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-file"></span>Novo
  <% end %>
