<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading"><h3 class="panel-title">Listar Anuncios</h3></div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Val. Produto</th>
      <th>Val Com Desconto</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vk_anuncios.each do |vk_anuncio| %>
      <tr>
        <td><%= vk_anuncio.desc_titulo %></td>
        <td><%= vk_anuncio.valr_produto %></td>
        <td><%= vk_anuncio.valr_comdesconto %></td>
        <td><%= vk_anuncio.numr_qtddisponivel %></td>

        <td align='right'>
            <div class="btn-group">
              <%= link_to vk_anuncio, :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-list-alt"></span> Exibir
              <% end %>
              <%= link_to edit_vk_anuncio_path(vk_anuncio), :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-pencil"></span> Editar
              <% end %>
              <%= link_to vk_anuncio, :method => :delete,  :confirm => 'Deseja excluir o registro?', :class => "btn btn-default btn-sm" do %>
                <span class="glyphicon glyphicon-trash"></span> Excluir
              <% end %>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

  <%= link_to new_vk_anuncio_path, :class => "btn btn-default btn-sm" do %>
     <span class="glyphicon glyphicon-file"></span>Novo
  <% end %>
