<%if notice %>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
     <%= notice %>
</div>
<%end%>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Exibir Anuncio</h3>
  </div>
  <div class="panel-footer" style="background-color:white;">

<p>
  <strong>Titulo Anuncio:</strong>
  <%= @vk_anuncio.desc_titulo %>
</p>

<p>
  <strong>Descrição Anuncio:</strong>
  <%= @vk_anuncio.desc_anuncio %>
</p>

<p>
  <strong>Valor Produto:</strong>
  <%= @vk_anuncio.valr_produto %>
</p>

<p>
  <strong>Valor Com Desconto:</strong>
  <%= @vk_anuncio.valr_comdesconto %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @vk_anuncio.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @vk_anuncio.data_fim %>
</p>

<p>
  <strong>Qtd. Disponivel:</strong>
  <%= @vk_anuncio.numr_qtddisponivel %>
</p>

<p>
  <strong>Ilimitado:</strong>
  <% if @vk_anuncio.flag_ilimitado %>
    Sim
  <%else%>
    Não
  <%end%>
</p>

<p>
  <strong>Vk produtos:</strong>
  <%= @vk_anuncio.vk_produto.nome_produto %>
</p>
<hr>
<div class="row mar-bot40">
  <ul>
    <%for fotoproduto in @vk_anuncio.vk_produto.vk_fotoproduto %>
    <div class="col-lg-4" >
      <li><%= link_to image_tag(fotoproduto.image.url(:thumb  ))%></li>
    </div>
    <%end%>
  </ul>
</div>

</div>
</div>

<div class="btn-group">
<%= link_to edit_vk_anuncio_path(@vk_anuncio), :class => "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-pencil"></span> Editar
<% end %>
<%= link_to vk_anuncios_path, :class => "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-arrow-left"></span> Voltar
<% end %>
</div>
