<p id="notice"><%= notice %></p>

<p>
  <strong>Desc titulo:</strong>
  <%= @vk_anuncio.desc_titulo %>
</p>

<p>
  <strong>Desc anuncio:</strong>
  <%= @vk_anuncio.desc_anuncio %>
</p>

<p>
  <strong>Valr produto:</strong>
  <%= @vk_anuncio.valr_produto %>
</p>

<p>
  <strong>Valr comdesconto:</strong>
  <%= @vk_anuncio.valr_comdesconto %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @vk_anuncio.data_inicio %>
</p>

<p>
  <strong>Data fim:</strong>
  <%= @vk_anuncio.data_fim %>
</p>

<p>
  <strong>Numr qtddisponivel:</strong>
  <%= @vk_anuncio.numr_qtddisponivel %>
</p>

<p>
  <strong>Flag ilimitado:</strong>
  <%= @vk_anuncio.flag_ilimitado %>
</p>

<p>
  <strong>Numr visualizacao:</strong>
  <%= @vk_anuncio.numr_visualizacao %>
</p>

<p>
  <strong>Numr click:</strong>
  <%= @vk_anuncio.numr_click %>
</p>

<p>
  <strong>Vk produtos:</strong>
  <%= @vk_anuncio.vk_produto %>
</p>

<p>
  <strong>Vk empresa:</strong>
  <%= @vk_anuncio.vk_empresa %>
</p>

<p>
  <strong>User:</strong>
  <%= @vk_anuncio.user %>
</p>

<%= link_to 'Edit', edit_vk_anuncio_path(@vk_anuncio) %> |
<%= link_to 'Back', vk_anuncios_path %>
