
<% @vk_anuncios.each do |vk_anuncio| %>
<h3 align="center" style="color:#3a5795"><b><%=vk_anuncio.vk_empresa.nome_empresa%></b></h3>
<%break%>
<%end%>
<hr>
<div class="row">
<% @vk_anuncios.each do |vk_anuncio| %>
  <div class="col-sm-5 col-md-3">
    <div class="thumbnail" style="background-color:#fdfdfd">
      <%for foto in  vk_anuncio.vk_produto.vk_fotoproduto%>
               <%= link_to image_tag(foto.image.url(:thumb))%>
               <%break%>
      <%end%>
      <div class="caption" style="height:100px">
        <h4><a href="/anuncioshow/<%=vk_anuncio.id%>" style="text-decoration: none"><%= vk_anuncio.vk_produto.nome_produto %></h4>

        <p><a href="/anuncioshow/<%=vk_anuncio.id%>" style="text-decoration: none"><%= vk_anuncio.desc_titulo %></p>
      </div>
      <h6 style="color:#767676; text-decoration: line-through">De: <%= number_to_currency(vk_anuncio.valr_produto, unit: "R$ ", separator: ",", delimiter: "")  %></h6>
      <h3 id="valor_produto", style="color: #0088cc; font-weight:bolder"><%= number_to_currency(vk_anuncio.valr_comdesconto, unit: "R$ ", separator: ",", delimiter: "") rescue nil %></h3>
      <h5 ><a href="#" style="text-decoration: none"> <%= vk_anuncio.vk_empresa.nome_empresa%></h5>
    </div>
  </div>
  <%end%>
</div>

<style media="screen">
  a:hover {
	color: #0088cc;
	background-color:white ;
 }
</style>

<script>

</script>
