<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#3a5795">
  <!--#54217c-->
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_path%>"><%= image_tag ("Logo.png")%></a>
  </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
         <li><%= link_to "Sair", destroy_user_session_path, method: :delete%></li>
        <%end%>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if user_signed_in? %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if current_user.vk_empresa_id == 1 %>
                <!--Menu para usuário geral-->
            <%else%>
                <!--Menu para usuário anunciante-->
            <li class="color-navbar"><%= link_to 'Cadastrar Produto', vk_produtos_path%></li>
            <li class="color-navbar"><%= link_to 'Novo Anuncio', listaProdutos_path%></li>
            <%end%>
          </ul>
            <%end%>
        </li>
      </ul>
      <a class="navbar-brand navbar-right" id="MostrarEsconderMensagem" style="color:white"  href="#"><span class="glyphicon glyphicon-search"></span></a>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<style media="screen">

.navbar-default .navbar-nav > li > a {
    color: #e6e6e6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
    color: #ffffff;
}
 </style>
