<!DOCTYPE html>
<html>
<head>
  <title>VK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    <%= render 'layouts/menu' %>
</head>
<body>

<div class="container-fluid">
     <div class="row">
        <div class="col-md-2">
          <ui>
            <li>Celulares</li>
            <li>Relogios</li>
            <li>Eletronicos</li>
          </ui>
          
        </div>
        <div class="col-md-10">
            <%= yield %>  
        </div>
     </div>

</div>

</body>
</html>